@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.Contact > * { /*tous les enfants contenu dans le parents*/
	/* outline: 2px solid blue; /*contour d'apprendtissage*/ */
}

.Contact {
	/* border: 3px dotted red; /*contour d'apprendtissage */
	
	padding: 20px;
	margin: 50px auto;
	width: 800px;
}

.ContactTitre {
	display: flex;
	margin: 30px auto;
	justify-content: center;
	font-family: 'Montserrat';
	font-size: 3rem;
	color: rgba(46, 33, 15);
	cursor: default;
}

form {
	margin: 80px 0px;
}

input{
	border-style: none none solid none;
	font-size: 24px;
	font-family: 'Montserrat';
	background-color: rgba(246,245,235);
}

.ContactForm {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px 30px;
	font-size: 24px;
	font-family: 'Montserrat';
}

.ContactFormBtn {
	display: flex;
	margin: 20px;
	justify-content: space-around;
}

.ContactFormBtn > input { 
	border: 1px solid;
	background-color: rgba(227,212,160,0.3);
	margin-top: 10px;
	height: 50px;
	width: 150px;
	border-radius: 30px;
	cursor: pointer;
}

p {
	font-size: 12px;
	font-family: 'Montserrat';
	font-style: italic;
	cursor: default;
}